* {
  margin: 0;
  padding: 0;
}

div {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  width: 40vw;
  height: 300px;
}

h2 {
  margin: 10px;
}

@media (max-width: 800px) {
  div {
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      position: relative;
      width: 40vw;
      height: 300px;
    }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;
}


#submitbtn {
  font-family: 'Courier New',
    Courier,
    monospace;
  font-size: 35px;
  border: 100px;
  display: block;
  padding: 15px;
  width: 100%;
}

input {
  margin: 0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  
}